{% load staticfiles %}
<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js is-ie"><![endif]-->
<!--[if gt IE 8]><!--><html class=no-js><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="description" content="BlackTie Free Bootstrap Theme">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
	

	<title>Template TeamUs</title>
	<link rel=stylesheet href="{% static 'css/main.css' %}">
	<!--[if lte IE 8]>
	<link rel=stylesheet href="{% static 'css/ie.css' %}">
	<![endif]-->
		<script src="{% static 'js/vendor/modernizr.js' %}"></script>

		<script src="{% static 'js/vendor/respond.min.js' %}"></script>
    <!--Puede cambiar los siguientes estilos:
- Todo lo azul por color de preferencia
- color Texto tu nueva aplicacion
- color title
    -->
    <style>
        .btn-append .appended, .heading-bordered:before{
            /*background-color: aquamarine*/
        }
        .btn:hover, .color{
            /*color: aquamarine;*/
        }
        .level-hero .heading {
       /* color: blueviolet  */  
        }
        .color-dark {
            /*color: chocolate*/
        }
    </style>

</head>

<body>
	<div class="level level-hero hero-home has-hint">
		

		<div class="hero-overlay visible-lg"></div>

		<video loop id=bg-video class=fullscreen-video>
			<source src="http://alvarez.is/bt/appi.webm" type="video/webm">
			<source src="http://alvarez.is/bt/appi.mp4" type="video/mp4">

		</video>

		<div class="container full-height">
			<div class=v-align-parent>
				<div class=v-center>
					<div class="row">
						<div class="col-xs-10 col-sm-6">
							<h1 class="mb-10 heading">Tu nueva <span>Aplicación.</span></h1>
							<div class="subheading mb-20">Lorem Ipsum is simply dummy text of the <br class=hidden-xs>printing and typesetting industry. </div>
						</div>
					</div>
					<div>
						<a class="btn btn-prepend btn-launch-video" href="#" style="padding: 10px;">
							<i class="fa fa-play-circle color" aria-hidden="true" style="font-size: 34px;"></i>&nbsp;&nbsp; ver video
						</a>
					</div>
				</div>
			</div>

			<div class=hint-arrow></div>
		</div>
	</div>
	<div class=level>

		<div class="container mb-100 xs-mb-40">
			<div class=row>
				<div class="col-sm-5 col-md-4 col-md-offset-2 col-sm-offset-1">
					<h1 class="mb-10 xs-mb-10 heading color-dark heading-bordered"> Nueva app<br class=hidden-xs> </h1>
				</div>
				<div class="col-sm-5 col-sm-offset-1">
					<h2 class="w-300 color-dark mb-10 xs-mb-10">Lorem Ipsum Dolor Sit.</h2>
					<p class="xs-mw">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				</div>
			</div>
		</div>

		<img src="{% static 'img/v2/iphone6.min.png' %}" alt class="mb-80 hidden-xs iphone-inline">



		<div class=container>
			<div class="row mb-90 xs-mb-0">

				<div class="col-sm-1 col-sm-offset-2">
					<i class="icon icon-check"></i>
				</div>
				<div class="col-sm-3">
					<h3 class="mb-15">listo para iOS</h3>
					<p class="smaller xs-mb-40 xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</div>

				<div class="col-sm-1">
					<i class="icon icon-calendar"></i>
				</div>
				<div class="col-sm-3">
					<h3 class="mb-15">Fecha de lanzamiento</h3>
					<p class="smaller xs-mb-40 xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</div>

			</div>

			<div class=row>

				<div class="col-sm-1 col-sm-offset-2">
					<i class="icon icon-user"></i>
				</div>
				<div class="col-sm-3">
					<h3 class="mb-15">Multiples usuarios</h3>
					<p class="smaller xs-mb-40 xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</div>

				<div class="col-sm-1">
					<i class="icon icon-clock"></i>
				</div>
				<div class="col-sm-3">
					<h3 class="mb-15">En tiempo real</h3>
					<p class="smaller xs-mb-40 xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</div>

			</div>
		</div>
	</div>

	<div class="level level-img-right">

		<div class="container xs-mb-30">
			<img class=img-right-sprite src="{% static 'img/v2/iphone-bg-lg.min.png' %}" alt>
			<div class="row mb-60 xs-mb-20">
				<div class="col-sm-6 col-lg-offset-1 col-lg-5">
					<h1 class="mb-20 xs-mb-10 heading color-dark heading-bordered xl-heading-outdent">Detalles</h1>
					<h2 class="w-300 color-dark mb-10">Todo lo que tu quieres está en esta app</h2>
                    <p class=xs-mw>Quo aliqua pariatur offendit. 
				</div>
			</div>

		<div class="visible-xs xs-mw xs-mb-40">
			<img src="{% static 'img/v2/iphone-mobile.min.png' %}" alt>
		</div>

			<div class="row mb-60 xs-mb-20">
				<div class="col-sm-1 col-lg-offset-1">
					<i class="icon icon-globe"></i>
				</div>
				<div class="col-sm-4 col-md-3">
					<h3 class="mb-15">En todo el mundo</h3>
					<p class="smaller xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</div>
			</div>

			<div class="row mb-60 xs-mb-20">
				<div class="col-sm-1 col-lg-offset-1">
					<i class="icon icon-eye"></i>
				</div>
				<div class="col-sm-4 col-md-3">
					<h3 class="mb-15">Privacidad</h3>
					<p class="smaller xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1 col-lg-offset-1">
					<i class="icon icon-bubble"></i>
				</div>
				<div class="col-sm-4 col-md-3">
					<h3 class="mb-15">Integración con redes sociales</h3>
					<p class="smaller xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</div>
			</div>
		</div>

	</div>

	<div class="level level-outro text-center">
		<div class=container>

			<form class=contact method=get action="/" accept-charset="UTF-8">

				<div class="h2 mb-20">Pide más información</div>
				<p class="mb-35">Envíanos tu correo y te haremos llegar detalles

				<div class="btn-append">


					<input type=email class="text phoneNumber" name="tel" placeholder="Email" required>

					<input type=submit class="submit appended" value=Enviar>

				</div>

			</form>
		</div>


	</div>
	<div class="footer text-center">

        
        <p>Copyright &copy; 2016 - Todos los derechos reservados <a href="http://www.teamussolutions.com">TemUs Solutions</a></p>

	</div>	

	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %}"></script>
	<script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.1.min.js' %}"><\/script>')</script>

	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/dropdown.js' %}"></script>
	<script src="{% static 'js/modal.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<!-- //-end- concat_js -->


	

</body>
</html>
